@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?py623m");
  src: url("../fonts/icomoon.eot?py623m#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?py623m") format("truetype"),
    url("../fonts/icomoon.woff?py623m") format("woff"),
    url("../fonts/icomoon.svg?py623m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --color-primary: #0c82dc;
}

.w {
  width: calc(100vw - 200px);
  margin: 0 auto;
}

/*轮播图开始*/
.banner {
  width: 100%;

  & .banner_main {
    width: 100%;
  }

  & .banner_section {
  }

  & .banner_image_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  & .banner_image {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  & .banner_image.active {
    opacity: 1; /* 当前显示的图片可见 */
  }

  & .banner_select {
    position: absolute;
    bottom: 154px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    & .dot {
      margin: 6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
    }

    & .dot:hover {
      background-color: #0c82dc;
      cursor: pointer;
    }
    & .dot.check {
      background-color: var(--color-primary) !important;
    }
  }

  & .banner_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: rgba(119, 187, 238, 0.3);
    z-index: 999;
  }

  & .banner_btn:hover {
    background-color: rgba(12, 130, 220, 0.6);
  }

  & .banner_btn_left {
    left: 20px;
  }

  & .banner_btn_right {
    right: 20px;
  }

  & .banner_btn_left a,
  & .banner_btn_right a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  & .banner_btn_left a {
    background: url(../img/btn_left.png) no-repeat center;
  }

  & .banner_btn_right a {
    background: url(../img/btn_right.png) no-repeat center;
  }
}

/* @keyframes bian {
  0%,
  100% {
    opacity: 0.2;
    backdrop-filter: blur(10px);
  }

  30%,
  80% {
    opacity: 1;
    backdrop-filter: blur(0px);
  }
} */

/*当屏幕尺寸小于1100px时，应用下面的CSS样式,详细用法网址：https://www.xuewangzhan.net/baike/css3-379.html*/
@media screen and (max-width: 1100px) {
  main section .left {
    left: 20px;
  }

  main section .right {
    right: 20px;
  }
}

/*轮播图结束*/
/*搜索框开始*/
.search_big {
  width: 100%;
  height: 110px;
}

.search_big .search_bd {
  position: relative;
  top: -77px;
  width: 1142px;
  height: 130px;
  margin: 0 auto;
  background: #fff;
  border-radius: 75px;
}

.search_big .search_bd .bd_input {
  width: 1021px;
  height: 72px;
  margin: 0 auto;
  margin-top: 7px;
  border-bottom: var(--color-primary) 2px solid;
}

.search_big .search_bd .bd_input .inptu_left {
  float: left;
  width: 940px;
  height: 70px;
}

.search_big .search_bd .bd_input .inptu_left input {
  width: 940px;
  height: 70px;
  font-size: 25px;
}

.search_big .search_bd .bd_input .btn_right {
  float: right;
  width: 80px;
  height: 70px;
}

.search_big .search_bd .bd_input .btn_right input {
  width: 80px;
  height: 70px;
  background: url(../img/search.png) no-repeat center;
  cursor: pointer;
}

.search_big .search_bd .hot_word {
  width: 1021px;
  height: 40px;
  margin: 5px auto;
}

.search_big .search_bd .hot_word ul {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.search_big .search_bd .hot_word ul li {
  float: left;
  padding: 0 14px;
  line-height: 40px;
  text-align: center;
}

.search_big .search_bd .hot_word ul li:first-child {
  font-family: "icomoon";
  font-size: 14px;
  color: #a0a0a0;
  padding: 0;
}

.search_big .search_bd .hot_word ul li a {
  font-size: 14px;
  color: #000;
  transition: color 1s;
}

.search_big .search_bd .hot_word ul li a:hover {
  color: var(--color-primary);
}
/*搜索框结束*/
/*新闻模块开始*/
.new {
  /* height: 828px; */
}

.new .new_hd {
  position: relative;
  height: 88px;
  border-bottom: #393539 6px solid;
}

.new .new_hd .new_til {
  position: absolute;
  left: 0;
  float: left;
  width: 200px;
  height: 60px;
}

.new .new_hd .new_til .new_til_en {
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #7d0000;
  font-size: 14px;
}

.new .new_hd .new_til .new_til_cn {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  font-size: 30px;
}

.new .new_hd .new_nav {
  position: absolute;
  right: 0;
  height: 60px;
}

.active2 {
  border-bottom: var(--color-primary) 6px solid;
  color: var(--color-primary) !important;
}

.new .new_hd .new_nav li {
  float: left;
  height: 88px;
  padding: 0 40px;
  text-align: center;
  line-height: 88px;
  font-size: 18px;
  color: #666;
  transition: color 0.8s, border-bottom 0.8s;
  cursor: pointer;
}

.new .new_hd .new_nav li a {
  display: block;
  height: 88px;
}

.new .new_hd .new_nav li:hover {
  color: var(--color-primary);
  border-bottom: var(--color-primary) 6px solid;
}
/*新闻模块1开始*/
#div1 {
  display: block;
  z-index: 50px;
  transition: all 1s;
  height: 700px;
}

.new .new_bd {
  position: relative;
  margin-top: 40px;
}

.new .new_bd .new_bd_zuo {
  float: left;
  width: 268px;
  margin: 60px 0 0 0;
}

.new .new_bd .new_bd_zuo .new_bd_title {
  height: 40px;
  line-height: 40px;
  color: #666;
  font-size: 14px;
}

.new .new_bd .new_bd_zuo .new_bd_title a:hover {
  color: var(--color-primary);
  transition: color 0.8s;
}

.new .new_bd .new_bd_zuo ul .new_bd_dl {
  height: 230px;
}

.new .new_bd .new_bd_zuo ul .new_bd_dl a:hover .dt_img {
  transform: scale(1.2, 1.2);
}

.new .new_bd .new_bd_zuo ul .new_bd_dl a:hover .new_bd_dd {
  color: var(--color-primary);
}

.new .new_bd .new_bd_zuo ul .new_bd_dl a .new_bd_dt {
  width: 268px;
  height: 155px;
  overflow: hidden;
}

.new .new_bd .new_bd_zuo ul .new_bd_dl a .new_bd_dt .dt_img {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
}

.new .new_bd .new_bd_zuo ul .new_bd_dl .new_bd_dd {
  height: 50px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-top: 21px;
  transition: color 0.6s;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.new .new_bd .new_bd_zuo ul li a {
}

.new .new_bd .new_bd_zuo ul li a:hover .new_bd_li_div {
  color: var(--color-primary);
}

.new .new_bd .new_bd_zuo ul li a .new_bd_li_div {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  border-top: #e2e2e2 1px solid;
  padding: 26px 0;
  transition: color 0.6s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new .new_bd .new_bd_zuo ul li:first-child {
  margin-bottom: 20px;
}

.new .new_bd .new_bd_you {
  float: right;
}

.new .new_bd .new_bd_zhong {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  float: left;
  width: 666px;
  height: 700px;
  margin: auto;
}

.zhong_banner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-left: #d6d6d6 1px solid;
  border-right: #d6d6d6 1px solid;
}
.one {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -960px;
}
.zhong_banner .banner_pic .pic {
  display: none;
}
.zhong_banner .banner_pic .current {
  display: block;
}

.zhong_banner .banner_pic .current .current_img {
  width: 100%;
  /* height:540px; */
  margin: 0 auto;
  overflow: hidden;
}

.zhong_banner .banner_pic .current .current_img a img {
  transition: transform 0.6s;
}

.zhong_banner .banner_pic .current .current_img a:hover img {
  transform: scale(1.2, 1.2);
}

.zhong_banner .banner_pic .current .current_little {
  width: 666px;
  font-size: 12px;
  color: var(--color-primary);
  margin: 18px auto;
  text-align: center;
}

.zhong_banner .banner_pic .current .current_h1 {
  width: 666px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.zhong_banner .banner_pic .current .current_h1 a {
  color: #555;
  transition: color 0.6s;
}

.zhong_banner .banner_pic .current .current_h1 a:hover {
  color: var(--color-primary);
}

.zhong_banner .banner_pic .current .current_context {
  width: 600px;
  margin: 10px auto;
  font-size: 14px;
  color: #888;
  text-align: center;
}

.zhong_banner .banner_pic .current .current_img a img {
  width: 100%;
  height: 100%;
}
.zhong_banner ol {
  position: absolute;
  left: 54%;
  top: 95%;
  margin-left: -62px;
}
.zhong_banner ol .but {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid #d6d6d6;
  margin-right: 20px;
  border-radius: 50%;
}
.zhong_banner ol li {
  cursor: pointer;
}
.zhong_banner ol .current {
  background: var(--color-primary);
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid #90d1d5;
  margin-right: 20px;
  border-radius: 50%;
}
/*新闻模块1结束*/
/*新闻模块2开始*/
#div2 {
  display: none;
}
.new .new_bd2 {
  position: relative;
  margin-top: 40px;
}

.new .new_bd2 .new_bd2_zuo {
  float: left;
  width: 210px;
  height: 550px;
  background: #fff;
}

.new .new_bd2 .new_bd2_zuo a {
  display: block;
  width: 210px;
  height: 546px;
  transition: box-shadow 0.6s;
}

.new .new_bd2 .new_bd2_zuo a:hover {
  box-shadow: 0px 3px 5px 5px #ccc;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p1 {
  float: left;
  width: 40px;
  height: 510px;
  margin: 20px 0 20px 16px;
  font-size: 28px;
  color: #000;
  writing-mode: vertical-lr;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p1:hover {
  color: var(--color-primary);
  transition: color 0.6s;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p2 {
  float: left;
  width: 30px;
  height: 510px;
  margin: 20px 10px 20px 30px;
  font-size: 12px;
  color: #666;
  writing-mode: vertical-lr;
  text-align: center;
  transition: all 0.8s;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p2:hover {
  color: var(--color-primary);
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p2:hover > span {
  background: var(--color-primary);
  transition: background 0.8s;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p2 span {
  float: left;
  position: relative;
  top: 0;
  left: 11px;
  width: 1px;
  height: 100px;
  background: #ccc;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p3 {
  float: left;
  width: 30px;
  height: 510px;
  margin: 20px 10px 20px 0;
  font-size: 12px;
  color: #666;
  writing-mode: vertical-lr;
  text-align: center;
  transition: all 0.8s;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p3:hover {
  color: var(--color-primary);
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p3:hover > span {
  background: var(--color-primary);
  transition: background 0.8s;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p3 span {
  float: left;
  position: relative;
  top: 0;
  left: 11px;
  width: 1px;
  height: 180px;
  background: #ccc;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p4 {
  float: left;
  width: 30px;
  height: 510px;
  margin: 20px 10px 20px 0;
  font-size: 12px;
  color: #666;
  writing-mode: vertical-lr;
  text-align: center;
  transition: all 0.8s;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p4:hover {
  color: var(--color-primary);
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p4:hover > span {
  background: var(--color-primary);
  transition: background 0.8s;
}

.new .new_bd2 .new_bd2_zuo a .bd2_zuo_p4 span {
  float: left;
  position: relative;
  top: 0;
  left: 11px;
  width: 1px;
  height: 300px;
  background: #ccc;
}

.new .new_bd2 .new_bd2_zhong {
  position: relative;
  float: left;
  width: 546px;
  height: 546px;
  margin-left: 16px;
  overflow: hidden;
  transition: box-shadow 1s;
}

.new .new_bd2 .new_bd2_zhong a {
  display: block;
  width: 100%;
  height: 100%;
}

.new .new_bd2 .new_bd2_zhong:hover {
  box-shadow: 0px 2px 5px 5px #ccc;
}

.new .new_bd2 .new_bd2_zhong a:hover > img {
  transform: translate(-50%, -50%) scale(1.2, 1.2);
}

.new .new_bd2 .new_bd2_zhong a:hover > .bd2_zhong_dec {
  top: 446px;
}

.new .new_bd2 .new_bd2_zhong a img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  transition: transform 0.4s;
}

.new .new_bd2 .new_bd2_zhong a .bd2_zhong_dec {
  position: absolute;
  top: 369px;
  left: 0;
  width: 553px;
  height: 184px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  z-index: 100;
}

.new .new_bd2 .new_bd2_zhong a .bd2_zhong_dec .dec_h1 {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.new .new_bd2 .new_bd2_you {
  float: left;
  width: 548px;
  height: 600px;
  margin-left: 16px;
}

.new .new_bd2 .new_bd2_you div {
  position: relative;
  float: left;
  width: 265px;
  height: 265px;
  overflow: hidden;
  text-align: center;
  transition: box-shadow 1s;
}

.new .new_bd2 .new_bd2_you div:hover {
  box-shadow: 0px 2px 6px 4px #ccc;
}

.new .new_bd2 .new_bd2_you .bd2_you1 {
  margin: 0 16px 16px 0;
}

.new .new_bd2 .new_bd2_you .bd2_you2 {
  margin: 0 0 16px 0;
}

.new .new_bd2 .new_bd2_you .bd2_you3 {
  margin: 0 16px 0 0;
}

.new .new_bd2 .new_bd2_you a:hover > img {
  transform: translate(-50%, -50%) scale(1.2, 1.2);
}

.new .new_bd2 .new_bd2_you a:hover > .bd2_you_dec {
  top: 190px;
}

.new .new_bd2 .new_bd2_you a img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s;
}

.new .new_bd2 .new_bd2_you a .bd2_you_dec {
  position: absolute;
  top: 160px;
  left: 0;
  width: 265px;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  z-index: 100;
}

.new .new_bd2 .new_bd2_you a .bd2_you_dec .dec_h1 {
  width: 260px;
  height: 60px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

/*新闻模块2结束*/
/*新闻模块3开始*/
#div3 {
  display: none;
}
.new .new_bd3 {
  position: relative;
  margin-top: 40px;
}

.new .new_bd3 .new_bd3_hd {
  height: 360px;
  background: #1e1e1e;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left {
  position: relative;
  float: left;
  width: 446px;
  height: 360px;
  z-index: 50;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_btn {
  position: relative;
  width: 206px;
  height: 40px;
  margin: 50px 0 26px 20px;
  transform-style: preserve-3d;
  transition: all 0.8s;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_btn .btn_z_a {
  position: relative;
  display: block;
  width: 206px;
  height: 40px;
  background: var(--color-primary);
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  transition: transform 0.8s;
  backface-visibility: hidden;
  z-index: 2;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_btn .btn_f_a {
  position: absolute;
  top: 0;
  left: 0;
  width: 206px;
  height: 40px;
  background: var(--color-primary);
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  transform: rotateY(180deg);
  z-index: 1;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_btn:hover {
  transform: rotateY(-180deg);
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_p1 {
  height: 72px;
  width: 646px;
  margin: 0 0 18px 20px;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_p1 a {
  color: #fff;
  font-size: 20px;
  transition: all 1s;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_p1 a:hover {
  color: var(--color-primary);
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_p2 {
  width: 646px;
  height: 50px;
  margin-left: 20px;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_p2 a {
  font-size: 14px;
  color: #fff;
  transition: all 1s;
}

.new .new_bd3 .new_bd3_hd .bd3_hd_left .bd3_hd_left_p2 a:hover {
  color: var(--color-primary);
}

.new .new_bd3 .new_bd3_hd .bd3_hd_right {
  float: right;
  height: 360px;
  width: 888px;
  background: url(../img/shengben_gengming.jpg) no-repeat 0px -92px;
  background-size: 966px 652px;
}

.new .new_bd3 .new_bd3_bd {
  height: 300px;
}

.new .new_bd3 .new_bd3_bd li {
  position: relative;
  float: left;
  width: 334px;
  height: 250px;
  overflow: hidden;
}

.new .new_bd3 .new_bd3_bd li a {
  display: block;
  width: 100%;
  height: 100%;
}

.new .new_bd3 .new_bd3_bd li a:hover > .bd3_bd_dec {
  top: 100px;
}

.new .new_bd3 .new_bd3_bd li a:hover > .bd3_bd_dec p {
  color: #fff;
}

.new .new_bd3 .new_bd3_bd li a img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

/* .new .new_bd3 .new_bd3_bd li:nth-child(2) a img{
	position:relative;
	left:0;
	width:425px;
}

.new .new_bd3 .new_bd3_bd li:nth-child(3) a img{
	position:relative;
	left:0;
	width:425px;
} */

.new .new_bd3 .new_bd3_bd li a .bd3_bd_dec {
  position: absolute;
  top: 140px;
  width: 334px;
  height: 200px;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.new .new_bd3 .new_bd3_bd li a .bd3_bd_dec p {
  width: 334px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-align: center;
  transition: all 1s;
}

.new .new_bd3 .new_bd3_null {
  width: 1267px;
  height: 30px;
}
/*新闻模块3结束*/
/*新闻模块4开始*/
#div4 {
  display: none;
}
.new .new_bd4 {
  position: relative;
  margin-top: 40px;
}

.new .new_bd4 .new_bd4_left {
  float: left;
  width: 548px;
  height: 562px;
  background: #eeebea;
  padding: 0 48px;
}

.new .new_bd4 .new_bd4_left .bd4_left_title {
  height: 88px;
}

.new .new_bd4 .new_bd4_left .bd4_left_title .bd4_left_title_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
}

.new .new_bd4 .new_bd4_left .bd4_left_title h1 {
  font-size: 30px;
  color: var(--color-primary);
  font-weight: 400;
}

.new .new_bd4 .new_bd4_left .bd4_left_title h1 i {
  font-size: 25px;
  color: #000;
}

.new .new_bd4 .new_bd4_left .bd4_left_title p {
  position: relative;
  margin-right: 10px;
}

.new .new_bd4 .new_bd4_left .bd4_left_title p a .more {
  color: #000;
  font-size: 14px;
  margin-right: 5px;
  transition: all 0.7s;
}

.new .new_bd4 .new_bd4_left .bd4_left_title p a .changxian {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 64px;
  height: 1px;
  background: #9c888a;
  transition: all 0.7s 0.8s;
}

.new .new_bd4 .new_bd4_left .bd4_left_title p a .yuandian {
  position: relative;
  top: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #9c888a;
  border-radius: 50%;
  transition: all 1s 0.4s;
}

.new .new_bd4 .new_bd4_left .bd4_left_title p a:hover .more {
  color: var(--color-primary);
}

.new .new_bd4 .new_bd4_left .bd4_left_title p a:hover .changxian {
  background: var(--color-primary);
}

.new .new_bd4 .new_bd4_left .bd4_left_title p a:hover .yuandian {
  transform: scale(1.6, 1.6);
  background: var(--color-primary);
}

.new .new_bd4 .new_bd4_left .bd4_left_body {
  width: 100%;
  overflow: hidden;
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul {
  background: #fff;
  overflow: hidden;
  box-shadow: 2px 2px 5px 5px #cccccc;
  border-bottom: var(--color-primary) 5px solid;
  padding: 0 30px 30px;
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul li {
  height: 50px;
  margin-top: 30px;
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul li a p {
  color: #000;
  font-size: 16px;
  transition: all 1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul li a h2 {
  height: 28px;
  line-height: 28px;
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul li a h2 .date {
  font-style: italic;
  color: #666;
  font-size: 12px;
  font-weight: 400;
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul li a h2 .hr {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 386px;
  height: 1px;
  background: #eeeeee;
  margin-left: 20px;
  transition: all 1s;
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul li a:hover p {
  color: var(--color-primary);
}

.new .new_bd4 .new_bd4_left .bd4_left_body .bd4_left_body_ul li a:hover h2 .hr {
  background: var(--color-primary);
}

.new .new_bd4 .new_bd4_right {
  float: right;
  width: calc(100% - 548px - 20px);
  height: 562px;
  background: #eeebea;
  padding: 0 48px;
}

.new .new_bd4 .new_bd4_right .bd4_right_title {
  height: 88px;
}

.new .new_bd4 .new_bd4_right .bd4_right_title .bd4_right_title_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.new .new_bd4 .new_bd4_right .bd4_right_title h1 {
  font-size: 30px;
  color: var(--color-primary);
  font-weight: 400;
}

.new .new_bd4 .new_bd4_right .bd4_right_title h1 i {
  font-size: 25px;
  color: #000;
}

.new .new_bd4 .new_bd4_right .bd4_right_title p {
  position: relative;
  margin-right: 10px;
}

.new .new_bd4 .new_bd4_right .bd4_right_title p a .more {
  color: #000;
  font-size: 14px;
  margin-right: 5px;
  transition: all 0.7s;
}

.new .new_bd4 .new_bd4_right .bd4_right_title p a .changxian {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 64px;
  height: 1px;
  background: #9c888a;
  transition: all 0.7s 0.8s;
}

.new .new_bd4 .new_bd4_right .bd4_right_title p a .yuandian {
  position: relative;
  top: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #9c888a;
  border-radius: 50%;
  transition: all 1s 0.4s;
}

.new .new_bd4 .new_bd4_right .bd4_right_title p a:hover .more {
  color: var(--color-primary);
}

.new .new_bd4 .new_bd4_right .bd4_right_title p a:hover .changxian {
  background: var(--color-primary);
}

.new .new_bd4 .new_bd4_right .bd4_right_title p a:hover .yuandian {
  transform: scale(1.6, 1.6);
  background: var(--color-primary);
}

.new .new_bd4 .new_bd4_right .bd4_right_body {
  overflow: hidden;
}

.new .new_bd4 .new_bd4_right .bd4_right_body .bd4_right_body_center {
  overflow: hidden;
  box-shadow: 2px 2px 3px 3px #ccc;
  border-bottom: var(--color-primary) 5px solid;
}

.new .new_bd4 .new_bd4_right .bd4_right_body .bd4_right_body_center ul li {
  height: 82px;
  margin-bottom: 6px;
  background: #fff;
}

.new .new_bd4 .new_bd4_right .bd4_right_body .bd4_right_body_center ul li a {
  display: block;
  height: 82px;
  transition: all 1s;
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li
  a:hover {
  box-shadow: 1px 1px 2px 2px #ccc;
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li
  a:hover
  .bd4_ul_li_dt
  .bd4_ul_li_dt_bg {
  animation-play-state: paused;
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li
  a:hover
  .bd4_ul_li_dd {
  color: var(--color-primary);
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li:last-child {
  margin-bottom: 0;
  transform: translate(0, 1px);
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li
  a
  .bd4_ul_li_dt {
  float: left;
  position: relative;
  width: 220px;
  height: 82px;
  background: #eeebea;
  border: #fff 5px solid;
  text-align: center;
  line-height: 82px;
  overflow: hidden;
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li
  a
  .bd4_ul_li_dt
  span {
  position: relative;
  z-index: 2;
  font-size: 24px;
  color: #aca3a1;
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li
  a
  .bd4_ul_li_dt
  .bd4_ul_li_dt_bg {
  position: absolute;
  top: 17px;
  left: -5px;
  width: 220px;
  height: 220px;
  background: url(../img/new_four_bg.png) no-repeat center;
  background-size: contain;
  z-index: 1;
  animation: rotate 12s infinite linear;
}

@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

.new
  .new_bd4
  .new_bd4_right
  .bd4_right_body
  .bd4_right_body_center
  ul
  li
  a
  .bd4_ul_li_dd {
  float: left;
  width: calc(100% - 240px);
  height: 82px;
  line-height: 82px;
  font-size: 16px;
  color: #000;
  padding: 0 20px;
  border-left: #f2efee 1px solid;
  transition: all 1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new .new_bd4 .new_bd4_null {
  clear: both;
  width: 1267px;
  height: 80px;
}
/*新闻模块4结束*/

/*宣传图模块开始*/
.pub_img {
  height: 360px;
}

.pub_img img {
  width: 100%;
  height: 100%;
}
/*宣传图模块结束*/

/*校园看点模块开始*/
.events {
  position: relative;
  width: 100%;
  height: 720px;
  margin-top: 50px;
}

.events::before {
  position: absolute;
  left: -40px;
  top: 0;
  display: block;
  width: calc(100% - 100px);
  height: 720px;
  content: "";
  background: #f4faff;
  z-index: -1;
}

.events .events_wal {
  height: 220px;
}

.events .events_wal .wal_title {
  float: left;
  width: 180px;
  height: 60px;
  border-right: var(--color-primary) 4px solid;
  line-height: 20px;
  margin-top: 78px;
  margin-left: 92px;
}
.events .events_wal .wal_title div {
  color: #7d0000;
  font-size: 14px;
}

.events .events_wal .wal_title h1 {
  height: 40px;
  color: #000;
  font-size: 30px;
  line-height: 40px;
}
.events .events_wal p {
  float: left;
  height: 60px;
  line-height: 60px;
  color: #929292;
  font-size: 14px;
  margin: 78px 60px 0 40px;
}

.events .events_wal .wal_more {
  float: left;
  height: 60px;
  line-height: 60px;
  margin-top: 78px;
}

.events .events_wal .wal_more a {
  color: var(--color-primary);
  font-size: 13px;
}

.events .events_wal .wal_more a span {
  position: relative;
  top: -18px;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width 1s;
}

.events .events_wal .wal_more a:hover span {
  width: 50px;
}

.events .events_list {
  width: 100%;
  height: 421px;
}

.slider {
  padding: 10px 20px;
  height: 421px;
  margin: 0 auto;
}

#slider_pic {
  margin: 0 auto;
  overflow: hidden;
  height: 421px;
  position: relative;
}

.prev,
.next {
  position: absolute;
  width: 51px;
  height: 51px;
  cursor: pointer;
  top: 85px;
  right: 422px;
  border-radius: 50%;
  background: rgba(12, 130, 220, 0.4) url(../img/btn_left.png) no-repeat center;
  transition: all 1s;
}

.next {
  right: 330px;
  background: rgba(12, 130, 220, 0.4) url(../img/btn_right.png) no-repeat center;
}

.no_click {
  background: rgba(12, 130, 220, 0.1);
}

#slider_pic li {
  float: left;
  margin-right: 10px;
}

#slider_pic ul {
  position: absolute;
  left: 0;
}

.events .events_list .events_list_bd ul li {
  width: 380px;
  height: 421px;
}

.events .events_list .events_list_bd ul li .events_list_p1 {
  color: #000;
  font-size: 14px;
  height: 30px;
}

.events .events_list .events_list_bd ul li .events_list_img {
  width: 380px;
  height: 245px;
  overflow: hidden;
}

.events .events_list .events_list_bd ul li .events_list_img a {
  display: block;
  width: 380px;
  height: 245px;
}

.events .events_list .events_list_bd ul li .events_list_img a img {
  transition: all 0.7s;
}

.events .events_list .events_list_bd ul li .events_list_img a:hover img {
  transform: scale(1.2, 1.2);
}

.events .events_list .events_list_bd ul li .events_list_p2 {
  width: 100%;
  height: 40px;
  margin: 20px 0 30px 0;
}

.events .events_list .events_list_bd ul li .events_list_p2 a {
  font-size: 17px;
  font-weight: 600;
  color: #000;
  transition: all 1s;
}

.events .events_list .events_list_bd ul li .events_list_p2 a:hover {
  color: var(--color-primary);
}

.events .events_list .events_list_bd ul li .events_list_p3 {
  width: 100%;
  height: 38px;
  border-left: var(--color-primary) 1px solid;
}

.events
  .events_list
  .events_list_bd
  ul
  li
  .events_list_p3
  .events_list_p3_time {
  font-size: 12px;
  color: var(--color-primary);
  font-family: "icomoon";
  margin: 0 0 3px 17px;
}

.events
  .events_list
  .events_list_bd
  ul
  li
  .events_list_p3
  .events_list_p3_address {
  font-size: 12px;
  color: var(--color-primary);
  font-family: "icomoon";
  margin-left: 17px;
}
/*校园看点模块结束*/

/*校园风光模块开始*/
.scenery {
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}
#features {
  height: 785px;
  margin: 0 auto;
}

.scenery_wal {
  float: left;
  width: 375px;
  height: 240px;
  margin: 46px 0 0 92px;
}

.scenery_wal .scenery_wal_til_en {
  color: #7d0000;
  font-size: 14px;
}

.scenery_wal .scenery_wal_til_cn {
  height: 40px;
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.scenery_wal .scenery_wal_hr {
  height: 4px;
  width: 68px;
  background: var(--color-primary);
  margin: 12px 0 42px 0;
}

.scenery_wal p {
  color: #929292;
  font-size: 14px;
  letter-spacing: 2px;
}

.scenery_wal .scenery_wal_more {
  height: 60px;
  line-height: 60px;
  margin-top: 8px;
}

.scenery_wal .scenery_wal_more a {
  color: var(--color-primary);
  font-size: 13px;
}

.scenery_wal .scenery_wal_more a span {
  position: relative;
  top: -18px;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width 1s;
}

.scenery_wal .scenery_wal_more a:hover span {
  width: 50px;
}

.list0 {
  margin-top: 45px;
  float: right;
  position: relative;
  left: -1px;
}
#SwitchBigPic {
  position: relative;
  z-index: 2;
}
#SwitchBigPic::before {
  position: absolute;
  top: -46px;
  left: 113px;
  content: "";
  width: 852px;
  height: 754px;
  background: linear-gradient(to right, var(--color-primary), #791cb5);
  z-index: 0;
}
#SwitchBigPic span {
  display: none;
}
#SwitchBigPic img {
  position: relative;
  left: 1px;
  z-index: 1;
  width: 964px;
  height: 710px;
}
#SwitchBigPic .sp {
  display: block;
}
#SwitchNav {
  position: absolute;
  top: 335px;
  left: -460px;
  z-index: 4;
  width: 380px;
}
#SwitchNav li {
  width: 100%;
  height: 58px;
  margin-bottom: 12px;
  border-bottom: #e7e7e7 1px solid;
  line-height: 58px;
  color: #000;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

#SwitchNav a .bluea {
  color: var(--color-primary);
}

#SwitchNav .scenery_chlik {
  width: 484px;
  background: #fff;
  border-left: var(--color-primary) 2px solid;
  color: var(--color-primary);
  padding-left: 30px;
  transition: all 0.6s;
  border-bottom: none;
  border-radius: 0px 58px 0px 0;
}
/*校园风光模块结束*/

/*入读广油模块开始*/
.admissions {
  width: 1267px;
  height: 845px;
  background: url(../img/ADMISSIONS_bg.png) no-repeat top center;
  background-size: 1118px 583px;
}

.admissions .admissions_til {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  margin-top: 110px;
  text-align: center;
}

.admissions .admissions_til .admissions_til_en {
  color: #7d0000;
  font-size: 14px;
}

.admissions .admissions_til .admissions_til_cn {
  height: 40px;
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.admissions .admissions_til .admissions_til_hr {
  height: 4px;
  width: 68px;
  background: var(--color-primary);
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 42px;
}

.admissions .admissions_til p {
  color: #929292;
  font-size: 14px;
  letter-spacing: 1px;
}

.admissions .admissions_body {
  position: relative;
  width: 1118px;
  height: 220px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}

.admissions .admissions_body:hover > .admissions_body_all {
  animation-play-state: paused;
}

.admissions .admissions_body .admissions_body_all {
  position: relative;
  left: 0;
  top: 0;
  width: 3354px;
  height: 220px;
  animation: move 9s steps(3) infinite;
}

@keyframes move {
  0% {
  }
  100% {
    left: -3354px;
  }
}

.admissions .admissions_body .admissions_body_all ul li {
  float: left;
  width: 123px;
  height: 220px;
  margin: 0 50px;
}

.admissions .admissions_body .admissions_body_all ul li img {
  display: block;
}

.admissions
  .admissions_body
  .admissions_body_all
  ul
  li
  .admissions_body_all_nub {
  width: 123px;
  height: 30px;
  margin: 30px 0 5px 0;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #000;
}

.admissions
  .admissions_body
  .admissions_body_all
  ul
  li
  .admissions_body_all_nub
  span {
  font-size: 28px;
  color: var(--color-primary);
}

.admissions .admissions_body .admissions_body_all ul li p {
  width: 100%;
  color: #929292;
  font-size: 12px;
  text-align: center;
}
/*入读广油模块结束*/

/*视频和社交媒体模块开始*/
.blue {
  position: relative;
  width: 100%;
  height: 1308px;
  background: url(../img/index-flow.jpg);
}

.blue .blue_top {
  position: relative;
  top: -266px;
  left: 0;
  width: 1317px;
  height: 664px;
  margin: 0 auto;
}

.blue .blue_top .blue_top_left {
  position: absolute;
  bottom: 0;
  float: left;
  width: 318px;
  height: 638px;
  background: #f2f3f9;
  z-index: 10;
}

.blue .blue_top .blue_top_left .blue_top_left_current {
  position: absolute;
  top: -25px;
  width: 0;
  height: 0;
  border: transparent 0 solid;
  border-top: transparent 26px solid;
  border-left: #f2f3f9 318px solid;
}

.blue .blue_top .blue_top_left ul {
  width: 216px;
  height: 435px;
  margin: 0 auto;
  margin-top: 66px;
}

.blue .blue_top .blue_top_left ul li {
  width: 216px;
  height: 60px;
  border-bottom: #b3b3b3 1px solid;
}

.blue .blue_top .blue_top_left ul li:nth-child(4) {
  margin-top: 41px;
}

.blue .blue_top .blue_top_left ul li a {
  display: block;
  width: 216px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  transition: all 0.8s;
}

.blue .blue_top .blue_top_left ul li a:hover {
  color: var(--color-primary);
}

.blue .blue_top .blue_top_left ul li a:hover > span {
  color: var(--color-primary);
}

.blue .blue_top .blue_top_left ul li a span {
  float: right;
  font-family: "icomoon";
  color: #000;
  font-size: 18px;
  transition: all 0.8s;
}

.blue .blue_top .blue_top_right {
  position: absolute;
  top: 75px;
  left: 0;
  float: left;
  width: 999px;
  height: 563px;
}

.blue .blue_top .blue_top_right video {
  position: absolute;
  left: 318px;
  top: 27px;
  width: 100%;
  height: 100%;
  outline: none;
}

.blue_bottom {
  position: absolute;
  top: 399px;
  left: 0;
  width: 100%;
  margin-top: 100px;
}

.blue_bottom .blue_bottom_title {
  width: 1317px;
  height: 138px;
  margin: 0 auto;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_left {
  float: left;
  width: 345px;
  height: 138px;
  border-top: #ee9640 3px solid;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_left p {
  width: 345px;
  margin-top: 27px;
  color: #fff;
  font-size: 15px;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_left {
  width: 345px;
  height: 137px;
  color: #fff;
  font-size: 34px;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_box {
  float: left;
  width: 58px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin: 62px 0 0 70px;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_box a {
  display: block;
  width: 58px;
  height: 28px;
  color: #fff;
  transition: all 1s;
  border-bottom: #fff 2px solid;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_box a:hover {
  color: var(--color-primary);
  border-bottom: var(--color-primary) 2px solid;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_ul {
  float: right;
  width: 377px;
  height: 56px;
  margin-top: 37px;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_ul li {
  position: relative;
  float: left;
  width: 56px;
  height: 56px;
  text-align: center;
  margin-left: 18px;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_ul li a {
  display: block;
  width: 56px;
  height: 56px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.8s;
}

.blue_bottom .blue_bottom_title .blue_bottom_title_ul li a:hover {
  background: rgba(12, 130, 220, 0.6);
}

.blue_bottom
  .blue_bottom_title
  .blue_bottom_title_ul
  li
  a:hover
  + .blue_bottom_title_ul_li_hid {
  opacity: 1;
  top: 62px;
  visibility: visible;
}

.blue_bottom
  .blue_bottom_title
  .blue_bottom_title_ul
  li
  .blue_bottom_title_ul_li_hid {
  position: absolute;
  left: -69px;
  top: 56px;
  width: 145px;
  height: 157px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: all 1s;
  visibility: hidden;
  z-index: 50;
}

.blue_bottom
  .blue_bottom_title
  .blue_bottom_title_ul
  li
  .blue_bottom_title_ul_li_hid
  .blue_bottom_title_ul_li_hid_cur {
  position: absolute;
  top: -24px;
  left: 86px;
  width: 0;
  height: 0;
  border: transparent 12px solid;
  border-bottom: #fff 12px solid;
}

.blue_bottom
  .blue_bottom_title
  .blue_bottom_title_ul
  li
  .blue_bottom_title_ul_li_hid
  img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 22.5px;
  margin-top: 20px;
}

.blue_bottom
  .blue_bottom_title
  .blue_bottom_title_ul
  li
  .blue_bottom_title_ul_li_hid
  p {
  font-size: 12px;
  color: #727084;
  margin-top: 5px;
}

.blue_bottom .blue_bottom_pic {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s {
  width: 1441px;
  height: 720px;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_s1 {
  position: relative;
  float: left;
  width: 360px;
  height: 360px;
  overflow: hidden;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_s1 a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url(../img/bg10.png) center repeat-x;
  background-size: auto 100%;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_s1
  a:hover
  img {
  transform: scale(1.2, 1.2);
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_s1 a img {
  position: relative;
  height: 100%;
  transition: all 0.4s;
  opacity: 1;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_s1
  a
  .blue_bottom_pic_s1_dec {
  position: absolute;
  top: 248px;
  left: 30px;
  width: calc(100% - 30px);
  height: 122px;
  z-index: 10;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_s1
  a
  .blue_bottom_pic_s1_dec
  .pic_s1_dec_time {
  font-size: 12px;
  color: #b4b3b5;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_s1
  a
  .blue_bottom_pic_s1_dec
  .pic_s1_dec_til {
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_s1
  a
  .blue_bottom_pic_s1_dec
  .pic_s1_dec_sco {
  width: 64px;
  height: 70px;
  border-bottom: #47d800 7px solid;
  line-height: 66px;
  background: url(../img/u5.png) no-repeat -6px 13px;
  background-size: 40px 40px;
  padding-left: 36px;
  font-size: 12px;
  color: #fff;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_s2 {
  float: left;
  width: 360px;
  height: 360px;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_s2 a img {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_s3 {
  float: left;
  width: 721px;
  height: 360px;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_s3 a img {
  position: relative;
  left: 0;
  width: 100%;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_s3
  a
  .blue_bottom_pic_s1_dec
  .pic_s1_dec_sco {
  background: url(../img/u3.png) no-repeat -6px 13px;
  background-size: 40px 40px;
  border-bottom: #fb7299 7px solid;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_x1 {
  float: left;
  width: 721px;
  height: 360px;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_x1
  a
  .blue_bottom_pic_s1_dec
  .pic_s1_dec_sco {
  background: url(../img/u2.png) no-repeat -6px 13px;
  background-size: 40px 40px;
  border-bottom: #ef01fe 7px solid;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_x1 a img {
  position: relative;
  left: 0;
  width: 100%;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_x2 {
  float: left;
  width: 360px;
  height: 360px;
}

.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_x2
  a
  .blue_bottom_pic_s1_dec
  .pic_s1_dec_sco,
.blue_bottom
  .blue_bottom_pic
  .blue_bottom_pic_s
  .blue_bottom_pic_x3
  a
  .blue_bottom_pic_s1_dec
  .pic_s1_dec_sco {
  background: url(../img/u4.png) no-repeat -6px 13px;
  background-size: 40px 40px;
  border-bottom: #ee9640 7px solid;
}

.blue_bottom .blue_bottom_pic .blue_bottom_pic_s .blue_bottom_pic_x3 {
  float: left;
  width: 360px;
  height: 360px;
}
/*社交媒体模块结束*/
/*视频和社交媒体模块结束*/
